<%= render 'partials/alerts' %>


<section class="main-content">
    <div class="container">
        <div class="page-sub-title textcenter">
            <h2 class="page-header">Manage Candidates <%= link_to 'Create New',  new_candidate_path, class:'btn btn-success pull-right'%></h2>
        </div><!-- end .page-sub-title -->
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h3>Needs Approval</h3>
                <% if @candidates.exists? %>
                    <%= render @candidates.select { |c| c.status == 'needs_approval' } %>
                <% end %>
            </div><!-- end .col-md-6 col-sm-6 col-xs-6 -->
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h3>Needs Feedback</h3>
                <% if @candidates.exists? %>
                    <%= render @candidates.select { |c| c.status == 'needs_feedback' } %>
                <% end %>
            </div><!-- end .col-md-6 col-sm-6 col-xs-6 -->
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h3>Needs Interview</h3>
                <% if @candidates.exists? %>
                    <%= render @candidates.select { |c| c.status == 'needs_interview' } %>
                <% end %>
            </div><!-- end .col-md-6 col-sm-6 col-xs-6 -->
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h3>Final Stages</h3>
                <% if @candidates.exists? %>
                    <%= render @candidates.select { |c| c.status == 'final stages' } %>
                <% end %>
            </div><!-- end .col-md-6 col-sm-6 col-xs-6 -->
        </div><!-- Closes row -->
    </div><!-- Closes container -->
</section>
