<!DOCTYPE html>
<html>
<head>
   <title>Listor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/"><h1>Listor</h1></a>-->
        </div>
        <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
              <li> <%= link_to 'Home', root_path %></li>
              <li class="<%= params[:controller] == 'candidates' ? 'active' : ''%>"><%= link_to 'My Candidates', candidates_path %></li>
              <li class="<%= params[:controller] == 'jobs' ? 'active' : ''%>"><%= link_to 'My Jobs', jobs_path %></li>
              <li class="<%= params[:controller] == 'companies' ? 'active' : ''%>"><%= link_to 'My Companies', companies_path %></li>
              <li class="<%= params[:controller] == 'notes' ? 'active' : ''%>"><%= link_to 'My Notes', notes_path %></li>
        </ul>    
         <ul class="nav navbar-nav navbar-right">
            <% if !user_signed_in? %>
                <li><%= link_to 'Register', new_user_registration_path, class: 'less-padding' %></li>
                <li><%= link_to 'Sign In', new_user_session_path, class: 'less-padding' %></li>
            <% else %>
                <li><%= link_to current_user.name, current_user %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'less-padding' %></li>
            <% end %>

          </ul>
        
      </div><!--/.nav-collapse -->
      </div>
    </div>

    <section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <%= yield %>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    </section>

</body>
</html>
